#info{
  width: 450px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #ADC9CC;
  background-color: white;
}
  img {
    width: 180px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .word{
    text-align: left;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;
  }

  h3{
    margin: 0px;
    padding: 10px 0px;
  }
